@import '../app/theme.module.scss';

.cert {
  @extend %block;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h2 {
    text-align: center;
    color: transparent;
    font-size: large;
    @extend %engraving-effect;
  }

  img {
    width: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
  }
}
