@import '../app/theme.module.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    color: transparent;
    text-align: center;
    @extend %engraving-effect;
  }
}
