@import '../app/theme.module.scss';

.resume {
  @extend %block;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h2 {
    text-align: center;
    color: transparent;
    @extend %engraving-effect;
  }

  img {
    width: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
  }
}
