@import '../app/theme.module.scss';

.weather_ui {
  @extend %inner-neumorphism;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
}

.weather_gif {
  flex: 1;
  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
}

.weather_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.loc_date {
  p {
    font-size: small;
    text-align: center;
  }
}

.temp {
  display: flex;
  flex-direction: column;

  h4 {
    font-size: xx-large;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.detail {
  display: flex;
  gap: 10px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: smaller;
    }
  }
}
